<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><% title %></title>
</head>
<body>
  <h1>About EJS</h1>
  <p><%= message %></p>
  <!-- <p><%= message2 %></p>
  <p><%= message3 %></p> -->
  <!--similar to doing php echo $message-->

  <ul>
    <% templates.forEach((template) => { %>
      <li><%= template.name %> is <%= template.usefullness %></li>
    <% }); %>
  </ul>
</body>
</html>
